/* to resize everything */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 100vh;
}

button{
    color: rgb(231, 213, 213);
    font-size: medium;
    background-color: rgb(255, 0, 21);
    border-radius: 5px;
    border-color: bisque;
}

.emoji{
    font-size: 10rem;
    cursor: pointer;
    /* removing the blue color when content is selected */
    user-select: none;
}

.closed{
    display: none;
}

.open{
    display: none;
}

.happy{
    display: none;
}

.active{
    display: block;
}